<main>
<h2>description</h2>
</main>

<style>
  main {
  	/* width: 100vw; */
		height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: normal;

  }

  h2{
    color: white
  }
</style>