<main>
<h2>Inquiry Form</h2>
</main>

<style>
main{
  height: 100vh;
  display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

h2{
  color: white
}
</style>