<script>
const menuItems = document.querySelectorAll('.dd-menu li');
const eventTypeButton = document.getElementById('event-type-button');

menuItems.forEach((menuItem) => {
  menuItem.addEventListener('click', () => {
    eventTypeButton.textContent = menuItem.textContent;
    });
  });
</script>


<main>
<h2>Inquiry Form</h2>
<form>
  <label class="dropdown">
    <div class="dd-button" id="event-type-button">Event Type</div>
    <input type="checkbox" class="dd-input" value="Event Type" placeholder="Event Type" required/>
    <ul class="dd-menu">
      <li>Wedding</li>
      <li>Work Event</li>
      <li>Networking Event</li>
      <li>Other</li>
    </ul>
  </label>
  <label>
    <!-- Must link to my email -->
    <input type="text" name="email" class="email" placeholder="Email" required/>
  </label>
  <label>
    <textarea name="body" placeholder="Compose Message Here!" required></textarea>
  </label>
  <button>Submit</button>
</form>
</main>



<style>
main{
  height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

h2{
  display: flex;
    align-items: center;
    justify-content: center;
  color: white;
  margin-bottom: 15%;
  padding: 3%;
}

form{
  display: flex;
  flex-direction: column;
  align-items:self-start;
  justify-content: center;
  color: aliceblue;
  margin-left: 5em;
  
}

.dropdown{
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 20px 10px 10px;
  background-color: #8b3535;
  cursor: pointer;
  white-space: nowrap;
  width: 9rem;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 26%;
  right: 25px;
  transform: translateY(0%); 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #d05050;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #43c3bf;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #2c44bc;
}


label{
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-bottom: 2%;
  gap: 3%;
  
}
input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
  border-radius: 5%;
  
}

.email{
  width: 15rem;
  height: 2rem;
}



textarea{
  width: 30rem;
  height: 150px;
  padding: 4px 4px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  resize: none;
}

button{
  color:aqua;
  /* background-color: brown; */
  padding: 1.5em;
  border: 2px solid #5a5858;
  /* border-radius: 35%; */
  border-radius: 26px;
background: #5a5858;
box-shadow:  6px 6px 26px #2c2b2b,
             -6px -6px 26px #888585;
}
</style>