<!-- <header class="hero">
	<p class="instructions">
 
	</header> -->
<main>
  <!-- <h1>Welcome to <span class="text-gradient">DejaBooth</span></h1> -->
      <!-- <img src="public/img/photobooth1_upscaled.png" class="bg-img"/> -->
      <img src="public/img/booth_close_cutout1.png" class="bg-img" /> 
      <!-- <img src="public/img/photobooth_scaled1.png" loading="eager"
      decoding="async" class="bg-img"/> -->
      <!-- <img src="public/img/photobooth_bg.png" class="bg-img" /> -->
			<div class="text">
				<h2>DejaBooth</h2>
			</div>
			 <!-- <img src="public/img/photobooth1_balloons.png" class="balloons" />  -->
			<!-- <img src="public/img/photobooth_frontlayer.png" class="booth-1" /> -->
      </main>

<style>
	main {
		/* margin: auto; */
		/* padding: 1rem; */
		width: 100vw;
		height: 100vh;
		/* max-width: calc(100% - 4rem); */
		/* color: white; */
		/* font-size: 20px; */
		/* line-height: 1.6; */
		/* background-color: rgb(168, 187, 204); */
		/* z-index: 0; */
		overflow: hidden;
		position: relative;

	}

	.bg-img{
position: absolute;
max-width: 100%;
height: 100vh;
/* object-position: center; */
/* top: calc(50% + 0px); */
/* bottom: calc(50% - 1000px); */
/* left: calc(50% + 0px); */
/* transform: translate(-50%, -50%); */
object-fit: contain;
	}

	.text{
	position:absolute;
z-index: 9;
top: calc(50% - 270px);
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
text-transform: uppercase;
	}

	.text h2{
		font-weight: 200;
		font-size: 6.0rem;
	}

	.booth-1{
		position: absolute;
		z-index: 13;
	  top: calc(0% - 330px);
		left: calc(19% + 16px);
		/* bottom: calc(20% - 20px); */
		width: 1500px;

	}

	.balloons{
		position: absolute;
		z-index: 13;
	  top: calc(0% - 288px);
		left: calc(19% + 59px);
		/* bottom: calc(20% - 20px); */
		width: 1055px;

	}

.open{
font-size: x-large;

}

	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
    justify-content: center;
		gap: 1rem;
		font-size: xx-large;

		/* max-width: 100%; */
		
	}
	.hero img {
		/* aspect-ratio: 9 / 11; */
		object-fit: cover;
    height: auto;
    width: 90%;
		object-position: center;
    position: relative;
    bottom: 10px;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
    margin-right: 55px;
    margin-bottom: 35px;
	}
	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 1.5rem;
			gap: 0px;
		}
	}

	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
    
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
    margin-left: 25px;
		/* border: 1px solid rgba(var(--accent-light), 25%); */
		/* background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%)); */
		padding: 2.5rem;
		border-radius: 8px;
		width: 25em;
		length: 15em;
	}

  .capture{
  font-size: 65px;
  }

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>